*{
    margin: 0;padding: 0;box-sizing: border-box;
}
body{
    background-color: rgb(113, 235, 235);
}
.container{
    min-height: 100vh;
    border: 1px solid red;
    display: flex;
}
.calc_body{
    margin: auto;
    width: 300px;
    height: 400px;
    background-color: whitesmoke;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1.5fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
    border: 3px solid greenyellow;
    border-radius: 15px;
    box-shadow: -9px -9px 5px 5px grey;
    grid-template-areas: 
    "display display display display"
        "btn1 btn2 btn3 btn4"
        "btn5 btn6 btn7 btn8"
        "btn9 btn10 btn11 btn12"
        "btn13 btn14 btn15 btn16"
        "btn17 btn18 btn19 btn19";

       padding: 10px; 
    }

.display{
    grid-area: display;
    background-color: black;
    color: #fff;
    border-radius: 10px;
    margin-bottom: 5px;
}
.btn{
    box-shadow: -5px -5px 2px 3px grey;
    font-size: large;
    color: transparent;
    text-shadow: 1px 1px 1px red;
    background-color: aquamarine;
}   
.btn19{
    grid-area: btn19;
    background-color: rgb(202, 201, 154);
    border: 1px solid rgb(0, 255, 42);
}
.btn19{
    grid-area: btn19;
}
