*{margin: 0;padding: 0;box-sizing: border-box;}
body{
    background-color: #0D1117;
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.container{
    text-align: center;
    margin-top: 50px;
}
.login_page>h3{
    font-size: 30px;
    margin:30px auto;
    
}
#login_form{
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 10px;
    border-radius: 5px;
    background-color: #1c2128;
    box-shadow: 1px 1px 1px white, -1px -1px 1px white;
    position: relative;

}
svg{
    transform: scale(3);
}
.login_form, h3,svg{
    transition: 2s;
    transform: translateY(-200px);
    animation: down_animation 3s ease forwards;
}
.create_new_acc,.extra_links{
    transform: translateY(200px);
    animation: up_animation 3s ease forwards;
}
#login_form > label{
    text-align: left;
}
#login_form>input{
    text-align: left;
    outline: none;
    border-radius: 5px;
    height: 35px;
    font-size: 16px;
    margin: 10px 0;
    background-color: #0D1117;
    border: none;
}
#login_form>input:focus{
    border: 1px solid rgb(18, 181, 218);
}
#login_form > input[type="submit"]{
    background-color: rgb(5, 123, 58);
    text-align: center;
    border: none;
    color: #fff;
    height: 35px;
}
#login_form > input[type="submit"]:hover{
    background-color: rgb(6, 205, 96);
}
.create_new_acc{
    margin: 30px auto;
    padding: 20px;
    box-shadow: 0.5px 0.5px 1px white, -0.5px -0.5px 1px white;
    border-radius: 5px;
}

.extra_links{
    margin: 40px auto;
}
.extra_links ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
a{
    text-decoration: none;
    color: rgb(36, 154, 233);
    outline: none;
}
a:hover{
    text-decoration: underline;
}
#forpass{
    position: absolute;
    top: 80px;
    right: 5px;
}

.login_page{
    max-width: 300px;
    margin: auto;
}

@media only screen and (max-width:310px){
    .login_page{
        max-width: 100%;
    }
}

@keyframes down_animation {

    to{
        transform: translateY(0px);
    }
}
@keyframes up_animation {

    to{
        transform: translateY(0px);
    }
}

